.container {
    display: flex;
    width: 60em;
    margin: 0 auto;
    margin-top: 5em;
    height: 85vh;
}

.header {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.photo {}

.image {
    width: 614px;
    height: 600px;
    object-fit: cover;
}

.info {
    background-color: #fff;
    width: 335px;
    padding: 0.5em;
}

.description {
    padding: 0.5em;
}

.comments {
    flex-direction: column;
    height: 50%;
    width: auto;
    border-bottom: 1px solid rgb(219, 219, 219);
    overflow-y: scroll;
}

.comments::-webkit-scrollbar {
    width: 0 !important
}

.com {
    word-break: break-word;
}

.comment {
    display: flex;
}

.comment span {
    cursor: pointer;
}

.comments p {
    margin-right: 0.5em;
    font-size: 15px;
}

.post-comments {
    font-weight: normal;
    border-top: 1px solid rgb(207, 207, 207);
    display: inline-block;
    width: 100%;
    display: flex;
}

.post-textarea {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    resize: none;
}