.input {
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    color: rgb(38, 38, 38);
    width: 100%;
    background-color: rgb(235, 235, 235);
    font-size: 16px;
    outline: 0;
    resize: none;
    padding: 0.5em;
}

.input::placeholder {
    color: #000;
}

.error {
    color: red;
    font-style: italic;
    font-size: small;
    min-height: 20px;
    text-align: left;
    width: auto;
    padding-left: 1em;
}