/* .container textarea {
          border-radius: 3px;
          width: 100%;
          background-color: #fafafa;
          border: solid 1px lightgray;
          color: #262626;
          font-size: 12px;
          line-height: 16px;
          outline: 0;
          resize: none;
          padding: 1em;
          height: 10vh;
}

.container textarea::placeholder {
          font-size: 12px;
} */


.container {
    margin: 1rem 0;
}

.container textarea {
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    color: rgb(38, 38, 38);
    padding: 10px;
    height: 72px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    font-size: 16px;
    resize: none;
}

.container textarea::placeholder {
    color: #000;
    text-align: center;
}