.aside {
    position: fixed;
    right: 17em;
    top: 88px;
    padding: 0;
    max-width: 293px;
    height: 65vh;
    width: 100%;
}

.aside-title {
    color: #8e8e8e;
    color: rgba(var(--f52, 142, 142, 142), 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
    display: flex;
    justify-content: space-between;
}

.profile {
    padding: 1em 0;
    display: flex;
    align-items: center;
}

.profile img {
    width: 59px;
    height: 59px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

.profile span {
    margin-left: 1em;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.users {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.users img {
    width: 34px;
    height: 34px;
    margin-right: 0.5em;
    border-radius: 50px;
}

.users span {
    font-size: 14px;
    font-weight: 600;
    color: rgb(63, 63, 63);
}

.users div {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.users button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin: -2px 0 -3px;
}

@media (max-width: 1420px) {
    .aside {
        display: none;
    }
}