.main {
          max-width: 62em;
          margin: 0 auto;
          min-height: 74vh;
}

.posts {
          max-width: 614px;
}

.stories {
          background-color: white;
          max-width: 580px;
          border: 1px solid lightgray;
          padding: 1em;
          margin-bottom: 1em;
          margin-top: 25px;
          height: 10vh;
}

.aside {
          position: fixed;
          right: 20em;
          top: 88px;
          padding: 0;
          max-width: 293px;
          height: 65vh;
          width: 100%;
          display: flex;
}

.aside-title {
          display: block;
          color: #8e8e8e;
          color: rgba(var(--f52, 142, 142, 142), 1);
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          margin: -3px 0 -4px;
}

.empty {
          background-color: #fff;
          border: 1px solid rgb(219, 219, 219);
          padding: 80px;
          font-size: 18px;
          display: flex;
          flex-direction: column;
          align-items: center;
}
