.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: relative;
    width: 343px;
    padding: 32px;
    border-radius: 20px;
    max-width: 640px;
    background-color: #FFF;
}

.option {
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.option:nth-child(2) {
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    color: #ed4956
}