.container {
    width: 60em;
    margin: 0 auto;
    min-height: 87vh;
    padding-top: 12em;
}

.form {
    width: 60%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 30px;
}

.actions {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions button {
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #0095f6;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

.actions button:hover {
    border: 1px solid #0095f6;
    background-color: #fff;
    color: #0095f6;
}

.actions a {
    color: #0095f6;
    font-size: 16px;
    font-weight: 600;
}

.actions a:nth-child(2) {
    color: #ed4956
}