.container {
          position: sticky;
          top: 0;
          background-color: white;
          padding: 15px;
          border-bottom: 1px solid lightgray;
          object-fit: contain;
}

.main {
          max-width: 58.5em;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
}

.links {
          display: flex;
          align-items: center;
          justify-content: space-between;
}
