.main {
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
}

.footer {
    max-width: 60em;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.copyright {
    text-align: center;
    margin: 1rem 0;
    background: -webkit-linear-gradient(45deg, #ff9494, #b257e6, #e657e6, #ff9494, #e657e6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}