.container {
    max-width: 60em;
    margin: 0 auto;
    min-height: 74vh;
    padding-top: 6em;
}

.header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 44px;
}

.section {
    margin-left: 2em;
}

.section div {
    display: flex;
    padding-bottom: 1em;
}

.description {
    word-break: break-word;
    margin-top: 1em;
}