.container {
          height: 66vh;
          max-width: 50em;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
}

.title {
          text-align: center;
          font-size: 32px;
          line-height: 40px;
          font-weight: 300;
}

.upload {
          width: 33%;
          height: 50vh;
          margin-top: 2em;
          background-color: #fafafa;
          border: solid 1px lightgray;
          text-align: center;
}

.form {
          padding-top: 2em;
          width: 60%;
}

.preview {
          width: 100%;
          height: auto;
}

.text {
          color: #262626;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          margin-bottom: 12px;
}
