.post {
    background-color: white;
    max-width: 614px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post-text {
    font-weight: normal;
    padding: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-avatar {
    margin-right: 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

.post-username {
    cursor: pointer;
}


.post-comments {
    font-weight: normal;
    border-top: 1px solid rgb(207, 207, 207);
    display: inline-block;
    width: 100%;
    display: flex;
}

.post-textarea {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    resize: none;
}

.post-textarea::placeholder {
    text-align: center;
    color: rgb(185, 185, 185);
}

.div-textarea {
    width: 89%;
}

.div {
    padding-left: 1.5em;
}

.commentsMargin {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
}

.comment {
    display: flex;
    height: 100%;
    margin-top: 0.1em;
}

.comment span {
    margin-right: 0.5em;
}

.textComment {
    word-break: break-word;
}

.allComments {
    color: rgb(153, 153, 153);
    cursor: pointer;
}