.main {
          width: 60em;
          margin: 0 auto;
          display: block;
          padding-top: 2em;
}

.main div img {
          width: 100%;
          height: auto;
}

.main div {
          display: inline-block;
}
