.container {
    max-width: 150px;
    max-height: 150px;
    margin: 0 5em;
}

.container img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}