.login-a {
          display: block;
          padding: 0 0.3em;
          color: #0095f6;
          text-decoration: none;
          font-weight: 700;
}

.login-link {
          display: inline-block;
}
